<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>
        scheme:{{params.scheme}}<br>
        method:{{params.method}}<br>
        args:{{params.args}}<br>
        form:{{params.form}}<br>
        cookies:{{params.cookies}}<br>
        headers:{{params.headers}}<br>
        path:{{params.path}}<br>
        full_path:{{params.full_path}}<br>
        url:{{params.url}}<br>
        referer:{{params.referer}}<br>
        user-agent:{{params.ua}}
    </h2>
    <h3>{% for i in params.dir1 %}
        {{i}}<br>
        {% endfor %}
    </h3>

</body>
</html>