<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filter</title>
</head>
<body>
    <h1>过滤器示意</h1>
    <h2>
        {{title|capitalize}}
    </h2>
    <h2>
        <p>upper</p>
        <p>
            {{title|upper}}
        </p>
    </h2>
    <h2>
        <p>lower</p>
        <p>
            {{title|lower}}
        </p>
    </h2>
    <h2>
        <p>title</p>
        <p>
            {{title|title}}
        </p>
    </h2>
    <h2>
        <p>trim</p>
        <p>
            {{title|trim}}
        </p>
    </h2>

</body>
</html>